.news .caption {
	width: 1270px;
	height: 50px;
	text-align: center;
}

.news .pic {
	width: 200px;
	height: 200px;
	text-align: center;
	margin: 0 auto;
}

.news .caption span {
	font-family: Arial;
	font-size: 30pt;
	color: #000000;
}

.news .description {
	width: 1270px;
	height: 100px;
	text-align: center;
}

.news .delete {
	width: 1270px;
	height: 30px;
	text-align: center;
}